@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GmarketSansMedium';
}
li {
  list-style: none;
}
a {
  color : inherit;
  text-decoration: none;
}
button {
  border: none;
  background: none;
}


#wrap {
  position: relative;
  width: 140px;
  aspect-ratio: 3/4;
  perspective: 500px;
  cursor: pointer;
}

#wrap .card {
  width: 100%;
  height: 100%;
  transition: all .5s;
  transform-style: preserve-3d;
}

#wrap:hover .card {
  transform: rotateY(180deg);
}

#wrap .card > div {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 20px;
  backface-visibility: hidden;
}

#wrap .card .card-front {
  background-color: #f54;
  /* z-index: 10; */
}

#wrap .card .card-back {
  background-color: #ccc;
  /* z-index: 5; */
  transform: rotateY(180deg);
}